body {
    height: 100vh;
    margin: 0px;
}

#maincontrols {
    border-bottom: 5px black dashed;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#vizcontainer {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.datecolumn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border: 2px dotted black;
    padding: 15px;
}

.box {
    width: 25px;
    height: 25px;
    border: 4px black solid;
}

.box-filled {
    background-color: green;
}

.box-unfilled {
    background-color: red;
}

#dates > a {
    margin: 3px;
}

#toggleshow {
    display: none;
    margin-left: 5px;
    margin-right: 5px;
}

.boxedname {
    border: 4px black solid;
    margin: 3px;
    padding: 3px;
}